{% comment %}
Anti-bot fields for public forms (see users/antispam.py). The view must put
_antibot_context() into the template context.
{% endcomment %}
<input type="hidden" name="{{ antibot_timer_field }}" value="{{ antibot_token }}">
<div aria-hidden="true" style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;">
    <label>Leave this field empty
        <input type="text" name="{{ antibot_honeypot_field }}" tabindex="-1" autocomplete="off" value="">
    </label>
</div>
{% if turnstile_site_key %}
<div class="cf-turnstile" data-sitekey="{{ turnstile_site_key }}" data-theme="dark" data-size="flexible" style="margin:1rem 0;"></div>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endif %}
