{% extends "users/auth_shell.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %} | IESA{% endblock %}

{% block au_main %}
<div class="au-head">
    <div class="au-icon au-icon--ok"><i class="fas fa-check" aria-hidden="true"></i></div>
    <h1 class="au-title">{% trans "Password changed" %}</h1>
</div>
<p class="au-lead">{% trans "Your password has been updated. You can sign in with the new password now." %}</p>
<a href="{% url 'users:login' %}" class="au-btn"><i class="fas fa-right-to-bracket" aria-hidden="true"></i>{% trans "Sign In" %}</a>
{% endblock %}
